body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.collection-items {
  display: flex;
  flex-direction: column;
}

.item-totals {
}

.cart {
  display: flex;
}

.cartAll {
  border: solid black;
  display: flex;
  flex-direction: column;
}

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

div .cartImage img {
  width: auto;
  height: 30vh;
}

.cartDeatils {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.cartDetailsBlock {
  font-size: 12px;
  flex-direction: column;
  justify-content: left;
}
